In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [7]:
dataset = pd.read_csv('C:/Users/tiwari/final_data_KNN_Bow.csv')
# print(dataset.head())
dataset.shape

(363284, 3)

In [8]:
dataset.head()

         Time  Score                                        CleanedText
0   939340800      1  b'this witti littl book make son laugh loud re...
1  1194739200      1  b'grew read these sendak book and watch the re...
2  1191456000      1  b'this fun way for children learn their month ...
3  1076025600      1  b'this great littl book read has nice rhythm w...
4  1018396800      1  b'this book poetri about the month the year go...

In [9]:
postive_review = dataset[dataset['Score'] == 1]
# print(postive_review)
postive_review.shape

(306335, 3)

In [10]:
negative_review = dataset[dataset['Score'] == 0]
# print(negative_review)

In [11]:
negative_review.shape

(56949, 3)

In [12]:
postive_data = postive_review[:10000]
postive_data.shape

(10000, 3)

In [13]:
negative_data = negative_review[:10000]
negative_data.shape

(10000, 3)

In [14]:
data = pd.concat([postive_data, negative_data])
data.shape

(20000, 3)

In [15]:
from sklearn.utils import shuffle

In [16]:
data = shuffle(data)
data.head()

             Time  Score                                        CleanedText
4816   1314489600      1  b'like this product veri much desir purchas th...
10044  1241740800      0  b'the rice itself not bad all but there noth s...
1106   1206835200      0  b'one the favorit place that frequent when can...
1602   1169251200      1  b'this the best dog food ever had just adopt r...
53724  1269820800      0  b'this review the seller amazon choos deal wit...

In [17]:
data1 = data['CleanedText']
label = data['Score']

In [18]:
data1.head()

4816     b'like this product veri much desir purchas th...
10044    b'the rice itself not bad all but there noth s...
1106     b'one the favorit place that frequent when can...
1602     b'this the best dog food ever had just adopt r...
53724    b'this review the seller amazon choos deal wit...
Name: CleanedText, dtype: object

In [19]:
label.head()

4816     1
10044    0
1106     0
1602     1
53724    0
Name: Score, dtype: int64

In [20]:
X_train,X_test,y_train,y_test = train_test_split(data1,label,test_size=0.3,random_state=4)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [22]:
vect = TfidfVectorizer()

In [23]:


data_dtm = vect.fit(data1)
X_train = vect.transform(X_train)
X_test = vect.transform(X_test)

In [24]:
X_train.shape

(14000, 19384)

In [25]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [29]:
k_range= range(2,31)
k_scores = []

In [30]:
for k in k_range:
    knn= KNeighborsClassifier(n_neighbors=k)
    scores=cross_val_score(knn,X_train, y_train,cv=10, scoring="accuracy")
    k_scores.append(scores.mean())
print(k_scores)

[0.725500226348512, 0.7684994149049492, 0.7590719145046212, 0.7784996208817307, 0.7750703859324126, 0.7879989075431745, 0.7824261514929345, 0.7901411522221622, 0.7867844680751659, 0.7932125805020455, 0.7882847741248847, 0.7918562029149724, 0.790141253242622, 0.7948559475576992, 0.7902846209542527, 0.7955701827253119, 0.7922132435854742, 0.796927733673042, 0.7958559990518946, 0.7982844688769155, 0.7953563053931587, 0.7997849283888119, 0.7980704890665761, 0.7989994175288573, 0.7987854895042584, 0.7993565605317728, 0.7972133971205378, 0.8006420711730684, 0.7982137543000204]

In [31]:
optimal_k = k_range[k_scores.index(max(k_scores))]
optimal_k

29

In [32]:
knn = KNeighborsClassifier(n_neighbors=optimal_k)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=29, p=2,
           weights='uniform')

In [33]:
y_pred = knn.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
acc = accuracy_score(y_test,y_pred)

In [36]:
print(acc)

0.8005

In [37]:
from sklearn.metrics import confusion_matrix,precision_score,recall_score,f1_score
confusion_matrix(y_test, y_pred)

array([[2361,  628],
       [ 569, 2442]], dtype=int64)

In [38]:
precision_score(y_test, y_pred)

0.7954397394136807

In [39]:
recall_score(y_test, y_pred)

0.8110262371305215

In [40]:
f1_score(y_test, y_pred)

0.8031573754316724