In [60]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, precision_score,recall_score,f1_score

In [61]:
dataset = pd.read_csv('C:/Users/Khushboo/Documents/datasets/final_data_KNN_Bow.csv')
dataset.shape

(363284, 3)

In [62]:
dataset.head()

         Time  Score                                        CleanedText
0   939340800      1  b'this witti littl book make son laugh loud re...
1  1194739200      1  b'grew read these sendak book and watch the re...
2  1191456000      1  b'this fun way for children learn their month ...
3  1076025600      1  b'this great littl book read has nice rhythm w...
4  1018396800      1  b'this book poetri about the month the year go...

In [63]:
postive_review = dataset[dataset['Score'] == 1]
postive_review.shape

(306335, 3)

In [64]:
negative_review = dataset[dataset['Score'] == 0]

In [65]:
negative_review.shape

(56949, 3)

In [66]:
postive_data = postive_review[:10000]
postive_data.shape

(10000, 3)

In [67]:
negative_data = negative_review[:10000]
negative_data.shape

(10000, 3)

In [68]:
data = pd.concat([postive_data, negative_data])
data.shape

(20000, 3)

In [69]:
from sklearn.utils import shuffle

In [70]:
data = shuffle(data)
data.head()

             Time  Score                                        CleanedText
18041  1239408000      0  b'see somebodi els gripe about this price ther...
20077  1186617600      0  b'tri this product out curios sinc was new tas...
2971   1091145600      0  b'ship day for order the math that over extra ...
34033  1334016000      0  b'can were bad dent make open them veri diffic...
6074   1210032000      1  b'find morel mushroom packag the store was unb...

In [71]:
data1 = data['CleanedText']
label = data['Score']

In [72]:
data1.head()

18041    b'see somebodi els gripe about this price ther...
20077    b'tri this product out curios sinc was new tas...
2971     b'ship day for order the math that over extra ...
34033    b'can were bad dent make open them veri diffic...
6074     b'find morel mushroom packag the store was unb...
Name: CleanedText, dtype: object

In [73]:
label.head()

18041    0
20077    0
2971     0
34033    0
6074     1
Name: Score, dtype: int64

In [74]:
X_train,X_test,y_train,y_test = train_test_split(data1,label,test_size=0.3,random_state=4)

In [75]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [76]:
vect = CountVectorizer()

In [77]:
data_dtm = vect.fit(data1)
X_train = vect.transform(X_train)
X_test = vect.transform(X_test)

In [78]:
X_train.shape

(14000, 19384)

In [79]:
from sklearn.linear_model import LogisticRegression

In [80]:
logreg= LogisticRegression()

In [81]:
logreg.fit(X_train,y_train)
y_pred = logreg = logreg.predict(X_test)

In [82]:
accuracy_score(y_test,y_pred)

0.8673333333333333

In [83]:
confusion_matrix(y_test,y_pred)

array([[2556,  418],
       [ 378, 2648]], dtype=int64)

In [84]:
precision_score(y_test, y_pred)

0.8636660143509458

In [85]:
recall_score(y_test, y_pred)

0.8750826173165895

In [86]:
f1_score(y_test, y_pred)

0.8693368351936965