In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('C:/Users/Khushboo/Documents/datasets/final_data_KNN_Bow.csv')
# print(dataset.head())
dataset.shape

(363284, 3)

In [3]:
dataset.head()

         Time  Score                                        CleanedText
0   939340800      1  b'this witti littl book make son laugh loud re...
1  1194739200      1  b'grew read these sendak book and watch the re...
2  1191456000      1  b'this fun way for children learn their month ...
3  1076025600      1  b'this great littl book read has nice rhythm w...
4  1018396800      1  b'this book poetri about the month the year go...

In [4]:
postive_review = dataset[dataset['Score'] == 1]
# print(postive_review)
postive_review.shape

(306335, 3)

In [5]:
negative_review = dataset[dataset['Score'] == 0]
# print(negative_review)

In [6]:
negative_review.shape

(56949, 3)

In [7]:
postive_data = postive_review[:10000]
postive_data.shape

(10000, 3)

In [8]:
negative_data = negative_review[:10000]
negative_data.shape

(10000, 3)

In [9]:
data = pd.concat([postive_data, negative_data])
data.shape

(20000, 3)

In [10]:
from sklearn.utils import shuffle

In [11]:
data = shuffle(data)
data.head()

             Time  Score                                        CleanedText
14804  1328054400      0  b'was hope find good nip for cat but they dont...
6629   1073692800      1  b'hawaii roaster coffe awesom discov when rece...
4479   1202428800      1  b'bought this for hot sauc aficionado and frie...
12864  1334534400      0  b'whi are other cook almond meal product label...
53831  1297555200      0  b'you are look for substitut for the discontin...

In [12]:
data1 = data['CleanedText']
label = data['Score']

In [13]:
data1.head()

14804    b'was hope find good nip for cat but they dont...
6629     b'hawaii roaster coffe awesom discov when rece...
4479     b'bought this for hot sauc aficionado and frie...
12864    b'whi are other cook almond meal product label...
53831    b'you are look for substitut for the discontin...
Name: CleanedText, dtype: object

In [14]:
label.head()

14804    0
6629     1
4479     1
12864    0
53831    0
Name: Score, dtype: int64

In [15]:
X_train,X_test,y_train,y_test = train_test_split(data1,label,test_size=0.3,random_state=4)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [17]:
vect = CountVectorizer()

In [18]:
data_dtm = vect.fit(data1)
X_train = vect.transform(X_train)
X_test = vect.transform(X_test)
#X_train = X_train.toarray()
#X_train = X_test.toarray()

In [19]:
X_train.shape

(14000, 19384)

In [20]:
from sklearn.naive_bayes import MultinomialNB
gnb = MultinomialNB()

In [21]:
gnb.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [22]:
y_pred = gnb.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
acc = accuracy_score(y_test,y_pred)

In [25]:
print(acc)

0.8665

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
confusion_matrix(y_test,y_pred)

array([[2636,  345],
       [ 456, 2563]], dtype=int64)

In [28]:
from sklearn.metrics import precision_score,recall_score,f1_score
precision_score(y_test, y_pred)

0.8813617606602476

In [29]:
recall_score(y_test, y_pred)

0.8489566081483935

In [30]:
f1_score(y_test, y_pred)

0.8648557448962376