In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,precision_score,recall_score,f1_score

In [2]:
dataset = pd.read_csv('C:/Users/tiwari/final_data_KNN_Bow.csv')
# print(dataset.head())
dataset.shape

(363284, 3)

In [3]:
dataset.head()

         Time  Score                                        CleanedText
0   939340800      1  b'this witti littl book make son laugh loud re...
1  1194739200      1  b'grew read these sendak book and watch the re...
2  1191456000      1  b'this fun way for children learn their month ...
3  1076025600      1  b'this great littl book read has nice rhythm w...
4  1018396800      1  b'this book poetri about the month the year go...

In [4]:
postive_review = dataset[dataset['Score'] == 1]
# print(postive_review)
postive_review.shape

(306335, 3)

In [5]:
negative_review = dataset[dataset['Score'] == 0]
# print(negative_review)

In [6]:
negative_review.shape

(56949, 3)

In [7]:
postive_data = postive_review[:10000]
postive_data.shape

(10000, 3)

In [8]:
negative_data = negative_review[:10000]
negative_data.shape

(10000, 3)

In [9]:
data = pd.concat([postive_data, negative_data])
data.shape

(20000, 3)

In [10]:
from sklearn.utils import shuffle

In [11]:
data = shuffle(data)
data.head()

             Time  Score                                        CleanedText
60065  1323475200      0  b'will never buy this item again was addict un...
5375   1320969600      0  b'this chocol was too hard and bitter for tri ...
4258   1307577600      1  b'arriv two day after order this tree was much...
5064   1349222400      1  b'qualiti gumbal dont get stale quick but some...
3550   1102809600      0  b'teabag isnt even enough for one pot perhap t...

In [12]:
data1 = data['CleanedText']
label = data['Score']

In [13]:
data1.head()

60065    b'will never buy this item again was addict un...
5375     b'this chocol was too hard and bitter for tri ...
4258     b'arriv two day after order this tree was much...
5064     b'qualiti gumbal dont get stale quick but some...
3550     b'teabag isnt even enough for one pot perhap t...
Name: CleanedText, dtype: object

In [14]:
label.head()

60065    0
5375     0
4258     1
5064     1
3550     0
Name: Score, dtype: int64

In [15]:
X_train,X_test,y_train,y_test = train_test_split(data1,label,test_size=0.3,random_state=4)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [17]:
vect = CountVectorizer()

In [18]:
data_dtm = vect.fit(data1)
X_train = vect.transform(X_train)
X_test = vect.transform(X_test)

In [19]:
X_train.shape

(14000, 19384)

In [20]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [21]:
k_range= range(1,31)
k_scores = []

In [22]:
for k in k_range:
    knn= KNeighborsClassifier(n_neighbors=k)
    scores=cross_val_score(knn,X_train, y_train,cv=10, scoring="accuracy")
    k_scores.append(scores.mean())
print(k_scores)

[0.6539313030261751, 0.676359375693559, 0.6684352389975708, 0.6907181075092386, 0.676861977990805, 0.696717702406991, 0.6770765189165913, 0.6935025477053814, 0.6747907014238272, 0.6915031589301831, 0.6738605478880346, 0.6902208113371486, 0.6740762112633731, 0.6877901978521418, 0.6727178942438236, 0.6832179506214034, 0.6727881493817088, 0.6826455013497457, 0.6705743217215927, 0.6824313685874329, 0.6717892713210568, 0.6810756025895931, 0.6692175353150691, 0.6794317752202936, 0.6690751883036674, 0.6782177439886449, 0.6672906465768605, 0.6755039670938607, 0.6650025841849919, 0.6722896287191983]

In [23]:
optimal_k = k_range[k_scores.index(max(k_scores))]
optimal_k

6

In [24]:
knn = KNeighborsClassifier(n_neighbors=optimal_k)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=6, p=2,
           weights='uniform')

In [25]:
y_pred = knn.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
acc = accuracy_score(y_test,y_pred)

In [28]:
print(acc)

0.7001666666666667

In [29]:
precision_score(y_test, y_pred)

0.6673306772908366

In [30]:
recall_score(y_test, y_pred)

0.788235294117647

In [31]:
f1_score(y_test, y_pred)

0.7227615965480043